@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  /* color: black; */
}

header {
  position: fixed;
  width: 100%;
  /* height: 75px; */
  z-index: 2;
}

nav {
  /* border: 2px solid red; */
  background-color: rgb(255, 255, 53);
  /* background-color: #EBE76C; */
  /* background-color: #F0B86E; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

nav a {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  padding: 2px 10px;
  margin: 0px 5px;
}

.background {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  background-image: url("../img/fondo-login.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  /* overflow: hidden; */
}

section {
  /* background-color: gray; */
  background-image: url("../img/fondo-login.jpg");
  text-align: center;
  position: absolute;
  top: 20%;
  left: 19%;
  width: 65%;
  height: 75%;
  border-radius: 20px;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}

section .form-login,
.form-signup {
  /* border: 2px solid yellowgreen; */
  display: flex;
  opacity: 1;
  /* overflow: hidden; */
  transition: opacity 0.9s;
  /* border-radius: 20px; */
}

.form-signup {
  display: none;
}

.msj-login,
.msj-signup {
  background-color: rgb(255, 255, 53);
  /* background-color: #F0B86E; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
}

.msj-signup {
  border-radius: 20px 0px 0px 20px;
}

.msj-login img,
.msj-signup img {
  width: 150px;
  height: 150px;
}

.msj-login p,
.msj-signup p {
  max-width: 50%;
}

form {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form h3 {
  font-size: 36px;
}

form h4 {
  margin: 5px 0px;
}

.conten-logs {
  /* border: 2px solid red; */
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

.conten-logs img {
  width: 15%;
}