<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/productos.css">
  <title>Productos</title>
</head>

<body>
  <header class="header">
    <nav class="nav">
      <a class="inicio" href="../index.html">Indumentaria <img src="../img/Logo-version1.png" alt="logo-pagina"></a>
      <a class="nav-item" id="form-contact" href="#">Contactanos</a>
      <a class="nav-item" href="./login.html">Iniciar sesion</a>
    </nav>
  </header>
  <aside class="filtro-content">
    <form class="filtro-form">
      <h3>Filtros</h3>
      <label for="categoria">Categoria</label>
      <select name="categoria" id="categoria">
        <!-- El resto de opciones los agrego con javaScript -->
        <option value="default" selected>Seleccione</option>
      </select><br>
      <label for="talle">Talle</label>
      <select name="talle" id="talle">
        <!-- El resto de opciones los agrego con javaScript -->
        <option value="default" selected>Seleccione</option>
      </select><br>
      <label for="marcas">Marcas</label>
      <select name="marcas" id="marcas">
        <!-- El resto de opciones los agrego con javaScript -->
        <option value="default">Seleccione</option>
      </select><br>
      <label for="genero">Genero</label>
      <select name="genero" id="genero">
        <option value="default" selected>Seleccione</option>
      </select>
      <button type="reset">Filtrar</button>
    </form>
  </aside>

  <div id="conteiner-form">
    <div id="form">
      <span id="cerrar-form">&times;</span>
      <h2>Completar el formulario</h2>
      <form>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre"><br>
        <label for="apellido">Apellido: </label>
        <input type="text" id="apellido"><br>
        <label for="email">E-mail: </label>
        <input type="email" id="email" required><br>
        <label for="comentario">Comentario: </label><br>
        <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea><br>
        <button type="submit">Enviar</button>
        <button type="reset">Limpiar</button>
      </form>
    </div>
  </div>
  <section id="cards-content" class="cards-content">
    <div class="botones-content">
      <button id="anterior">Anterior</button>
      <button id="siguiente">Siguiente</button>
    </div>
    <!-- La informacion de las tarjetas se agregaran con javascript -->
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Ver</button>
      </div>
    </article>
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Ver</button>
      </div>
    </article>
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Ver</button>
      </div>
    </article>
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Ver</button>
      </div>
    </article>
  </section>

  <script src="../js/productos.js"></script>
</body>

</html>