<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/productos.css">
  <title>Productos</title>
</head>

<body>
  <header class="header">
    <nav class="nav">
      <a class="inicio" href="../index.html">Indumentaria <img src="../img/Logo-version1.png" alt="logo-pagina"></a>
      <!-- <a class="nav-item" href="#">Ofertas</a> -->
      <!-- <a class="nav-item" href="#">Mis compras</a> -->
      <a class="nav-item" href="#">Sobre nosotros</a>
      <a class="nav-item" href="./login.html">Iniciar sesion</a>
    </nav>
  </header>
  <aside class="filtro-content">
    <form action="" method="get" class="filtro-form">
      <h3>Filtros</h3>
      <label for="categoria">Categoria</label>
      <select name="categoria" id="categoria">
        <!-- El resto de opciones los agrego con javaScript -->
        <option value="default" selected>Seleccione</option>
      </select><br>
      <label for="talle">talle</label>
      <select name="talle" id="talle">
        <!-- El resto de opciones los agrego con javaScript -->
        <option value="default" selected>Seleccione</option>
      </select><br>
      <label for="marcas">Marcas</label>
      <select name="marcas" id="marcas">
        <!-- El resto de opciones los agrego con javaScript -->
        <option value="default">Seleccione</option>
      </select><br>
      <label for="genero">Genero</label>
      <select name="genero" id="genero">
        <option value="default" selected>Seleccione</option>
      </select>
      <button>Filtrar</button>
    </form>
  </aside>
  <section id="cards-content" class="cards-content">
    <div class="botones-content">
      <button id="anterior">Anterior</button>
      <button id="siguiente">Siguiente</button>
    </div>
    <!-- La informacion de las tarjetas se agregaran con javascript -->
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Comprar</button>
      </div>
    </article>
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Comprar</button>
      </div>
    </article>
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Comprar</button>
      </div>
    </article>
    <article class="card">
      <img id="img-card" src="" alt="producto">
      <div class="card-info">
        <h4 id="card-nombre"></h4>
        <p id="card-desc"></p>
        <p id="card-precio"></p>
        <button>Comprar</button>
      </div>
    </article>
  </section>

  <script src="../js/productos.js"></script>
</body>

</html>